body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#digital-clock {
    font-size: 2em;
    font-family: 'Arial', sans-serif;
    color: #333;
}