body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input, button {
    margin-top: 10px;
    padding: 8px;
}

button {
    cursor: pointer;
}